# Importation des librairies

In [2]:
import pandas as pd

# Lecture et aperçu des fichiers

In [9]:
dataDecheterie = pd.read_csv("../data/data_sig_collecte/col_decheterie.csv", encoding="ISO-8859-1", sep=";")
dataOM = pd.read_csv("../data/data_sig_collecte/col_om_pt.csv", encoding="ISO-8859-1", sep=";")
dataPapier = pd.read_csv("../data/data_sig_collecte/col_papier_pt.csv", encoding="ISO-8859-1", sep=";")
dataTri = pd.read_csv("../data/data_sig_collecte/col_tri_pt.csv", encoding="ISO-8859-1", sep=";")
dataVerre = pd.read_csv("../data/data_sig_collecte/col_verre_pt.csv", encoding="ISO-8859-1", sep=";")
dataVetement = pd.read_csv("../data/data_sig_collecte/col_vetement_pt.csv", encoding="ISO-8859-1", sep=";")
#dataOM.to_csv("col_om_pt.csv", encoding="utf-8")
dataDecheterie.head()

,objectid,id,adresse,adresse_comp,code_insee,veget,bois,metal,grav_prop,grav_sal,...,huil_veget_mineral,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
0,801,NaN,Impasse de l aubarede,NaN,6030,Oui,Oui,Oui,Oui,Oui,...,Oui,NaN,NaN,chpayet,20200723135923,chpayet,20200723135923,{F24B4AF3-17BF-4215-B07F-044AA37EA4E5},6.983613,43.566849
1,1201,NaN,Chemin du coudouron,NaN,6085,Oui,Oui,Oui,Oui,Non,...,Oui,NaN,NaN,chpayet,20200727125141,chpayet,20200727125459,{26CF70EB-23DD-4399-ACBA-98434B6BFC1A},6.964639,43.581638
2,1601,NaN,Déchèterie des tourades,NaN,6029,Oui,Oui,Oui,Oui,Oui,...,Oui,NaN,NaN,chpayet,20200731130159,chpayet,20200731130332,{83866245-B862-4D22-B436-D5B1A64F5441},6.954320,43.556717

In [12]:
# TODO pour chaque jeu de données
print("On recense ", dataDecheterie.shape[0], "déchèteries avec", dataDecheterie.shape[1], "variables")
dataDecheterie.code_insee.value_counts()

6029    1
6030    1
6085    1
Name: code_insee, dtype: int64

# Statistiques de base

In [15]:
# peu pertinent
dataDecheterie.describe()

,objectid,id,adresse,adresse_comp,code_insee,veget,bois,metal,grav_prop,grav_sal,...,huil_veget_mineral,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
count,3.0,0.0,3,0.0,3.000000,3,3,3,3,3,...,3,0.0,0.0,3,3.000000e+00,3,3.000000e+00,3,3.000000,3.000000
unique,NaN,NaN,3,NaN,NaN,1,1,1,1,2,...,1,NaN,NaN,1,NaN,1,NaN,3,NaN,NaN
top,NaN,NaN,Déchèterie des tourades,NaN,NaN,Oui,Oui,Oui,Oui,Oui,...,Oui,NaN,NaN,chpayet,NaN,chpayet,NaN,{F24B4AF3-17BF-4215-B07F-044AA37EA4E5},NaN,NaN
freq,NaN,NaN,1,NaN,NaN,3,3,3,3,2,...,3,NaN,NaN,3,NaN,3,NaN,1,NaN,NaN
mean,1201.0,NaN,NaN,NaN,6048.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020073e+13,NaN,2.020073e+13,NaN,6.967524,43.568401
std,400.0,NaN,NaN,NaN,32.046841,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.997121e+06,NaN,3.997207e+06,NaN,0.014858,0.012533
min,801.0,NaN,NaN,NaN,6029.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020072e+13,NaN,2.020072e+13,NaN,6.954320,43.556717
25%,1001.0,NaN,NaN,NaN,6029.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020073e+13,NaN,2.020073e+13,NaN,6.959480,43.561783
50%,1201.0,NaN,NaN,NaN,6030.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020073e+13,NaN,2.020073e+13,NaN,6.964639,43.566849
75%,1401.0,NaN,NaN,NaN,6057.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020073e+13,NaN,2.020073e+13,NaN,6.974126,43.574244
max,1601.0,NaN,NaN,NaN,6085.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.020073e+13,NaN,2.020073e+13,NaN,6.983613,43.581638

# Valeurs manquantes

In [17]:
dataDecheterie.isna().sum()

objectid              0
id                    3
adresse               0
adresse_comp          3
code_insee            0
veget                 0
bois                  0
metal                 0
grav_prop             0
grav_sal              0
carton                0
d3e                   0
dech_men_spe          0
neon                  0
batterie              0
pile                  0
gaz                   0
extincteur            0
huil_veget_mineral    0
date_instal           3
observations          3
creation              0
date_creation         0
modification          0
date_modification     0
globalid              0
_x                    0
_y                    0
dtype: int64

Il n'existe ni d'id, ni de complément d'adresse, ni de date d'installation, ni d'observation pour les déchèteries.

Les autres colonnes sont toutes complètes